## Settings file was created by plugin NewTerminal v1.3.0
## Plugin GUID: NewTerminal

[TerminalMenus.Special]

# Setting type: String
# Default value: BG IG, A System-Act Ally\nCopyright (C) 2084-2108, Halden Electronics Inc.\nCourtesy of the Company.\n\n\n\nBios for FORTUNE-9 87.7/10MHZ SYSTEM\n\nCurrent date is Tue  3-7-2532\nCurrent time is 8:03:32.15\n\nPlease enter favorite animal: 
WelcomeNode = BG IG, A System-Act Ally\nCopyright (C) 2084-2108, Halden Electronics Inc.\nCourtesy of the Company.\n\n\n\nBios for FORTUNE-9 87.7/10MHZ SYSTEM\n\n当前日期为 3-7-2532 星期二\n当前时间为 8:03:32.15\n\n请输入最喜欢的动物：

# Setting type: String
# Default value: Welcome to the FORTUNE-9 OS\n\tCourtesy of the Company\n\nHappy [currentDay].\n\nType \"Help\" for a list of commands.\n\n\n\n\n
Start = 欢迎使用 FORTUNE-9 操作系统\n\t公司内部专属\n\nHappy [currentDay].\n\n键入 "Help" 查看命令列表。\n\n\n\n\n

# Setting type: String
# Default value: You could not afford these items!\nYour balance is [playerCredits]. Total cost of these items is [totalCost].\n\n
CannotAfford = 您买不起这些物品!\n您的余额为 [playerCredits]. 这些项目的总费用为 [totalCost].\n\n

# Setting type: String
# Default value: Unable to route the ship currently. It must be in orbit around a moon to route the autopilot.\nUse the main lever at the front desk to enter orbit.\n\n\n\n
CouldNotReroute = 目前无法为飞船设定航线。它必须在环绕月球的轨道上才能为自动驾驶仪设定航线。\n使用前台的主杆进入轨道。\n\n\n\n

# Setting type: String
# Default value: The delivery vehicle cannot hold more than 12 items\nat a time. Please pick up your items when they land!\n\n\n
TooManyItems = 送货车辆不能同时装载超过 12 件物品\n请在物品落地时领取他们！\n\n\n

# Setting type: String
# Default value: An error occured! Try again.\n\n
GeneralError = 出现错误！请再试一次。\n\n

# Setting type: String
# Default value: No data has been collected on this creature. \nA scan is required.\n\n
NoCreatureData = 目前还没有收集到关于这种生物的数据。\n需要进行扫描。\n\n

# Setting type: String
# Default value: To purchase decorations, the ship cannot be landed.\n\n
MustBeInOrbit = 要购买装饰品，船只不能降落。\n\n

# Setting type: String
# Default value: The autopilot ship is already orbiting this moon!
AlreadyOnThisPlanet = 自动驾驶飞船已经绕着这颗卫星运行了！

# Setting type: String
# Default value: [DATA CORRUPTED OR OVERWRITTEN]\n\n
NoUnlockedStoryLogs = [数据被破坏或覆盖]\n\n

# Setting type: String
# Default value: [There was no action supplied with the word.]\n\n
ParserError1 = [这个词并没有提供任何行为。]\n\n

# Setting type: String
# Default value: [There was no object supplied with the action, or your word was typed incorrectly or does not exist.]\n\n
ParserError2 = [该操作没有提供对象，或者您的单词输入错误或不存在。]\n\n

# Setting type: String
# Default value: [This action was not compatible with this object.]\n\n
ParserError3 = [该操作与此对象不兼容。]\n\n

# Setting type: String
# Default value: >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n
HelpCommands = >MOONS\n查看自动驾驶仪可前往的卫星列表。\n\n>STORE\n查看公司商店的实用物品选择。\n\n>BESTIARY\n查看记录在案的野生动物名单。\n\n>STORAGE\n访问存储的东西。\n\n>OTHER\n查看其他命令列表\n\n[numberOfItemsOnRoute]\n

# Setting type: String
# Default value: This has already been unlocked for your ship!
AlreadyUnlocked = 您的飞船已解锁此功能！

# Setting type: String
# Default value: The ship cannot be leaving or landing!\n\n
ShipInMotion = 飞船不能离开或着陆！\n\n

# Setting type: String
# Default value: This item is not in stock!\n\n
NotInStock = 此商品无库存！\n\n

# Setting type: String
# Default value: Returned the item from storage!
ReturnedFromStorage = 已从仓库返还物品！

# Setting type: String
# Default value: This is locked from the demo version!\n\n
LockedForDemo = 这是从演示版中锁定的！\n\n

# Setting type: String
# Default value: Entered broadcast code.\n
EnteredCode = 已输入广播代码。\n

# Setting type: String
# Default value: Switched radar to player.\n\n
SwitchedCam = 已将雷达切换到玩家。\n\n

# Setting type: String
# Default value: Pinged radar booster.\n\n
PingedRadarBooster = 已经连接雷达增幅器.\n\n

# Setting type: String
# Default value: Sent transmission.\n\n
SendSignalTranslator = 已经发送。\n\n

# Setting type: String
# Default value: Flashed radar booster.\n\n
FlashedRadarBooster = 已使雷达增幅器闪烁.\n\n

